node_modules/
/test-results/
/playwright-report/
/reports/
allure-results/
allure-report/
/blob-report/
.auth/
/playwright/.cache/
.env
*.log

# Other possible build or temporary directories
/dist/
/build/
/tmp/
/coverage/