
name: Report Notification Email
run-name: Report Notification Email

on:
  workflow_run:
    workflows: ["Ebay UI AUTOMATION"]
    types:
      - completed

jobs:
  send_email:
    name: Send Email Notification
    runs-on: ubuntu-latest
    steps:
      - name: Send Allure Report Email
        uses: dawidd6/action-send-mail@v4
        with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: "Weekly Test Report - SkyU UI Automation"
          to: madushikaranapana113@gmail.com
          cc: madushikaranapana113@gmail.com
          from: ${{ secrets.MAIL_USERNAME }}
          body: |
            Dear Receiver,

            The latest Allure report has been generated and is available at the following link:
            https://<your-github-username>.github.io/<repo-name>/

            Please review the test results and let us know if there are any concerns.

            Regards,
            QA Team
